{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>AICT 공공융합플랫폼 :: 딸기 스마트팜 분석</title>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.2/chart.esm.min.js"></script>

        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'smartfarm_page/assets/favicon.ico' %}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Chartjs CSS CDN-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
        <!--Using JS-->
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <!-- Custom styles for this template-->
        <link href="{% static 'smartfarm_page/css/sb-admin-2.css' %}?after" rel="stylesheet" />
        <link href="{% static 'smartfarm_page/css/styles.css' %}?after" rel="stylesheet" />
    </head>

    <body>
        <!-- Navigation-->
         <nav class="navbar navbar-expand-sm navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href="../">
                    <img src="{% static 'smartfarm_page/assets/img/logo.png' %}" width="160" height="50" alt="">
                    <a class="profile"><img class="img-profile rounded-circle" src="{% static 'smartfarm_page/assets/img/undraw_profile.svg' %}"width="160" height="50" alt=""> </a>
                </a>
            </div>
        </nav>

        <!-- Predicted output-->
        <div class="pt-4 bg-light">
            <div class="container px-xl-6 bg-light">
                <!-- 상단 딸기 이미지 삽입-->
                <div class="img-fluid" style="height:350px; opacity: 0.6; background-repeat: no-repeat; background-image: url('../static/smartfarm_page/assets/img/str_bg.png');"></div>
                <div class="row gx-lg-5">
                <img src="{% static 'smartfarm_page/assets/img/str_page_content2.png' %}" style="display: block; margin: 0 auto; width:950px; height:90px;" alt="">
                <div class="row mb-5"></div>
                    <h2 class="text-center">이번 주 딸기 생산량 예측 결과</h2>
                    <h2 class="text-center" style="color: MediumBlue"> {{ predict_result }} </h2> <h5 class="text-center"> (개/단위 면적)</h5>
                </div>

                <div class="row mb-5"></div>
                <div class="row mb-5"></div>
                <div class="row gx-rg-5">
                    <h3 class="text-center">우수농가 평균과 나의 농장 비교하기</h3>
                    <div class="row mb-4"></div>

                    <!-- graph-->
                    <div class="col-sm-6">
                        <!-- inTemp_graph-->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">내부 온도</h6>
                            </div>
                            <div class="card-body">
                                <div class="chart-area">
                                    <canvas id="inTemp" width="1200" height="500"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <!-- inHum_graph-->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary" >내부 습도</h6>
                            </div>
                            <div class="card-body">
                                <div class="chart-area">
                                    <canvas id="inHum" width="1200" height="500"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- acInso_graph-->
                    <div class="col-sm-6">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">외부 일사량</h6>
                            </div>
                            <div class="card-body">
                                <div class="chart-area">
                                    <canvas id="acInso" width="1200" height="500"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                        <!-- inCO2_graph-->
                    <div class="col-sm-6">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">내부 CO2</h6>
                            </div>
                            <div class="card-body">
                                <div class="chart-area">
                                    <canvas id="inCO2" width="1200" height="500"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <form action="{% url 'API_doc_download' %}">
                    <div class="row mb-5"></div>
                    <div class="text-center"> 👇 더 많은 데이터가 필요하다면 이곳을 참고해주세요 👀
                        <div class="row mb-3"></div>
                        <input type="submit" class="btn btn-secondary col-4"  value="우수 농가 API 조회 명세서 다운로드">
                    </div>
                </form>
            </div>
        </div>

       <!-- Footer-->
           <footer class="footer bg-light">
            <div class="row mb-5"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item"><a href="https://aict.snu.ac.kr/?p=18">연구원 소개</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="https://aict.snu.ac.kr/?p=31">공공융합플랫폼 소개</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="https://aict.snu.ac.kr/?p=17">찾아오시는길</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="https://aict.snu.ac.kr/?p=125">개인정보처리방침</a></li>
                        </ul>
                        <p class="text-muted small mb-4 mb-lg-0">&copy;ADVANCED INSTITUTE OF CONVERGENCE TECHNOLOGY ALL RIGHTS RESERVED. </p>
                    </div>
                    <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item me-4">
                                <a href="https://aict.snu.ac.kr/">
                                    <img src="{% static 'smartfarm_page/assets/img/aict_logo.png' %}" width="43" height="43" alt="">
                                </a>
                            </li>
                            <li class="list-inline-item me-4">
                                <a href="https://www.snu.ac.kr/">
                                    <img src="{% static 'smartfarm_page/assets/img/snu_logo.png' %}" width="43" height="43" alt="">
                                </a>
                            </li>
                            <li class="list-inline-item me-4">
                                <a href="https://www.gg.go.kr/">
                                    <img src="{% static 'smartfarm_page/assets/img/ggd_logo.png' %}" width="55" height="25" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Jquery-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'smartfarm_page/js/scripts.js' %}"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>


        <!-- Page level plugins -->
        <script src="{% static 'smartfarm_page/js/Chart.min.js' %}"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

        <!-- Page level custom scripts -->
        <script src="{% static 'smartfarm_page/js/chart-area-demo.js' %}"></script>

        <script>
            // 차트를 그럴 영역을 dom요소로 가져온다.
            new Chart(document.getElementById("inTemp"), {
              type: 'line',
              data: {
                labels: {{ bestFarm_data | get_dict:"date" | safe }},
                datasets: [{
                    data: {{ graph_data | get_dict:"inTemp" | safe }},
                    label: 'My Farm',
                    borderColor:'rgb(255, 99, 132)',
                    fill: false,
                    tension:0
                  }, {
                    data: {{ bestFarm_data | get_dict:"inTemp" | safe }},
                    label: 'Best Farm',
                    borderColor: 'rgb(0, 0, 0)',
                    fill: false,
                    tension:0
                  }
                ]
              },

              options: {
                title: {
                  display: true,
                },
                scales: {
                    xAxes: [
                      {
                        scaleLabel: {
                          display: true,
                          labelString: "Weeks",
                        },
                         stacked: "true",
                      },
                     ],
                    yAxes: [
                      {
                        scaleLabel: {
                          display: true,
                          labelString: "Temp (℃)"
                         },
                      },
                     ],
                  },
                tooltips: {
                mode:'x',
                callbacks: {
                    title : function(tooltipItems, data){
                        var tooltipItem = tooltipItems[0];
                            return data.labels[tooltipItem.index] + '주차';
                            },

                    label: function(tooltipItems, data) {
                              return tooltipItems.yLabel + ' ℃';
                          }

                  }
                }
                }
            });



            new Chart(document.getElementById("inHum"), {
              type: 'line',
              data: {
                labels: {{ bestFarm_data | get_dict:"date" | safe }},
                datasets: [{
                    data: {{ graph_data | get_dict:"inHum" | safe }},
                    label: 'My Farm',
                    borderColor:'#0096c6',
                    fill: false,
                    tension:0
                  }, {
                    data: {{ bestFarm_data | get_dict:"inHum" | safe }},
                    label: 'Best Farm',
                    borderColor: 'rgb(0, 0, 0)',
                    fill: false,
                    tension:0
                  }
                ]
              },
              options: {
                title: {
                  display: true,
                },
                scales: {
                    xAxes: [
                      {
                        scaleLabel: {
                          display: true,
                          labelString: "Weeks",
                         },
                         stacked: "true",
                      },
                     ],
                    yAxes: [
                      {
                        scaleLabel: {
                          display: true,
                          labelString: "Humidity (%)"
                         },
                      },
                     ],
                  },
                tooltips: {
                mode:'x',
                callbacks: {
                    title : function(tooltipItems, data){
                        var tooltipItem = tooltipItems[0];
                            return data.labels[tooltipItem.index] + '주차';
                            },

                    label: function(tooltipItems, data) {
                              return tooltipItems.yLabel + ' %';
                          }

                  }
                }
                }
            });

            new Chart(document.getElementById("acInso"), {
              type: 'line',
              data: {
                labels: {{ bestFarm_data | get_dict:"date" | safe }},
                datasets: [{
                    data: {{ graph_data | get_dict:"acInso" | safe }},
                    label: 'My Farm',
                    borderColor: '#FFA500',
                    fill: false,
                    tension:0
                  }, {
                    data: {{ bestFarm_data | get_dict:"acInso" | safe }},
                    label: 'Best Farm',
                    borderColor: 'rgb(0, 0, 0)',
                    fill: false,
                    tension:0
                  }
                ]
              },
              options: {
                title: {
                  display: true,
                },
                scales: {
                    xAxes: [
                      {
                        scaleLabel: {
                          display: true,
                          labelString: "Weeks",
                         },
                         stacked: "true",
                      },
                     ],
                    yAxes: [
                      {
                        scaleLabel: {
                          display: true,
                          labelString: "Insolation (kWh/㎡)"
                         },
                      },
                     ],
                  },
                  tooltips: {
                  mode:'x',
                  callbacks: {
                    title : function(tooltipItems, data){
                        var tooltipItem = tooltipItems[0];
                            return data.labels[tooltipItem.index] + '주차';
                            },

                    label: function(tooltipItems, data) {
                              return tooltipItems.yLabel + ' kWh/㎡';
                          }

                  }
                  }
                }
            });

            new Chart(document.getElementById("inCO2"), {
              type: 'line',
              data: {
                labels: {{ bestFarm_data | get_dict:"date" | safe }},
                datasets: [{
                    data: {{ graph_data | get_dict:"inCO2" | safe }},
                    label: 'My Farm',
                    borderColor:'#9400D3',
                    fill: false,
                    tension:0
                  }, {
                    data: {{ bestFarm_data | get_dict:"inCO2" | safe }},
                    label: 'Best Farm',
                    borderColor: 'rgb(0, 0, 0)',
                    fill: false,
                    tension:0
                  }
                ]
              },
              options: {
                title: {
                  display: true,
                },
                scales: {
                    xAxes: [
                      {
                        scaleLabel: {
                          display: true,
                          labelString: "Weeks",
                         },
                         stacked: "true",
                      },
                     ],
                    yAxes: [
                      {
                        scaleLabel: {
                          display: true,
                          labelString: "CO2 (ppm)"
                         },
                      },
                     ],
                  },
                tooltips: {
                mode:'x',
                callbacks: {
                    title : function(tooltipItems, data){
                        var tooltipItem = tooltipItems[0];
                            return data.labels[tooltipItem.index] + '주차';
                            },

                    label: function(tooltipItems, data) {
                              return tooltipItems.yLabel + ' ppm';
                          }

                  }
                }
                }
            });

        </script>
    </body>
</html>