{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>AICT 공공융합플랫폼 :: 딸기 스마트팜 분석</title>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.2/chart.esm.min.js"></script>

        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'smartfarm_page/assets/favicon.ico' %}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Chartjs CSS CDN-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
        <!--Using JS-->
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <!-- Custom styles for this template-->
        <link href="{% static 'smartfarm_page/css/sb-admin-2.css' %}?after" rel="stylesheet" />
        <link href="{% static 'smartfarm_page/css/styles.css' %}?after" rel="stylesheet" />
    </head>

    <body>
        <!-- Navigation-->
         <nav class="navbar navbar-expand-sm navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href="../">
                    <img src="{% static 'smartfarm_page/assets/img/logo.png' %}" width="160" height="50" alt="">
                    <a class="profile"><img class="img-profile rounded-circle" src="{% static 'smartfarm_page/assets/img/undraw_profile.svg' %}"width="160" height="50" alt=""> </a>
                </a>
            </div>
        </nav>

        <!-- Predicted output-->
        <div class="pt-4 bg-light">
            <div class="container px-xl-6 bg-light">
                <!-- 상단 딸기 이미지 삽입-->
                <div class="img-fluid" style="height:350px; opacity: 0.6; background-repeat: no-repeat; background-image: url('../static/smartfarm_page/assets/img/str_bg.png');"></div>
                <div class="row gx-lg-5">
                    <h2 class="text-center">이번 주 딸기 생산량 예측 결과</h2>
                    <div class="row gx-lg-5">
                        <h2 class="text-center" style="color: MediumBlue"> {{ predict_result }} </h2> <h5 class="text-center"> (개/단위 면적)</h5>
                    </div>
                </div>

                <div class="row mb-5"></div>
                <div class="row mb-5"></div>
                <div class="row gx-lg-5">
                    <h3 class="text-center">우수농가 평균과 나의 농장 비교하기</h3>
                <!-- inTemp_graph-->
                <div class="row mb-3"></div>
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">우수농가 평균 내부 온도</h6>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="line1" width="1200" height="300"></canvas>
                        </div>
                        <hr>
                    </div>
                </div>


            <div class="text-center"> 👇 더 많은 데이터가 필요하다면 이곳을 참고해주세요 👀
            <div class="row mb-3"></div>
            <input type="submit" class="btn btn-secondary col-4"  value="우수 농가 API 조회 명세서 다운로드">
            </div>


       <!-- Footer-->
           <footer class="footer bg-light">
            <div class="row mb-5"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item"><a href="https://aict.snu.ac.kr/?p=18">연구원 소개</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="https://aict.snu.ac.kr/?p=31">공공융합플랫폼 소개</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="https://aict.snu.ac.kr/?p=17">찾아오시는길</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="https://aict.snu.ac.kr/?p=125">개인정보처리방침</a></li>

                        </ul>
                        <p class="text-muted small mb-4 mb-lg-0">&copy;ADVANCED INSTITUTE OF CONVERGENCE TECHNOLOGY ALL RIGHTS RESERVED. </p>
                    </div>
                    <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item me-4">
                                <a href="https://aict.snu.ac.kr/">
                                    <img src="{% static 'smartfarm_page/assets/img/aict_logo.png' %}" width="43" height="43" alt="">
                                </a>
                            </li>
                            <li class="list-inline-item me-4">
                                <a href="https://www.snu.ac.kr/">
                                    <img src="{% static 'smartfarm_page/assets/img/snu_logo.png' %}" width="43" height="43" alt="">
                                </a>
                            </li>
                            <li class="list-inline-item me-4">
                                <a href="https://www.gg.go.kr/">
                                    <img src="{% static 'smartfarm_page/assets/img/ggd_logo.png' %}" width="55" height="25" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Jquery-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'smartfarm_page/js/scripts.js' %}"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>


        <!-- Page level plugins -->
        <script src="{% static 'smartfarm_page/js/Chart.min.js' %}"></script>

        <!-- Page level custom scripts -->
        <script src="{% static 'smartfarm_page/js/chart-area-demo.js' %}"></script>

        <script>
        // 차트를 그럴 영역을 dom요소로 가져온다.
        var chartArea = document.getElementById('line1')
        // 차트를 생성한다.
        var myChart = new Chart(chartArea, {
            // ①차트의 종류(String)
            type: 'line',
            // ②차트의 데이터(Object)
            data: {
                // ③x축에 들어갈 이름들(Array)
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange','a','b','c','d','e','f'],
                // ④실제 차트에 표시할 데이터들(Array), dataset객체들을 담고 있다.
                datasets: [{
                    // ⑤dataset의 이름(String)
                    label: 'My Farm',
                    // ⑥dataset값(Array)
                    data: [12, 19, 3, 5, 2, 3,5,5,5,5,5,5],

                    // ⑧dataset의 선 색(rgba값을 String으로 표현)
                    borderColor: 'rgb(255, 99, 132)',
                    fill : false,
                    // ⑨dataset의 선 두께(Number)
                    borderWidth: 3
                },{
                    // ⑤dataset의 이름(String)
                    label: '# of Votes',
                    // ⑥dataset값(Array)
                    data: [2, 2, 3, 5, 19, 17,5,4,2,10,15,5],
                    // ⑧dataset의 선 색(rgba값을 String으로 표현)
                    borderColor: 'rgb(0, 0, 0)',
                    fill : false,
                    // ⑨dataset의 선 두께(Number)
                    borderWidth: 3
                    }],
            // ⑩차트의 설정(Object)
            options: {
            maintainAspectRatio: false,

            scales: {
              xAxes: [{

                ticks: {
                  maxTicksLimit: 7
                }
              }],
              yAxes: [{
                ticks: {
                  maxTicksLimit: 5,
                  padding: 10,
                  // Include a dollar sign in the ticks
                  callback: function(value, index, values) {
                    return '$' + number_format(value);
                  }
                },
                gridLines: {
                  color: "rgb(0, 0, 0)",
                  zeroLineColor: "rgb(0, 0, 0)",
                  drawBorder: false,
                  borderDash: [2],
                  zeroLineBorderDash: [2]
                }
              }],
            },
            legend: {
              display: false
            },
            tooltips: {
              backgroundColor: "rgb(255,255,255)",
              bodyFontColor: "#858796",
              titleMarginBottom: 10,
            }
          }
          }
        });
        </script>

    </body>
</html>